@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
@import './utils/mixins';

@import './presets/fonts';
@import './presets/vars';
@import './presets/def-presets';


//Libraries
@import './libs/ibg'; // Also include in JS
@import './libs/modal'; // Also include in JS
@import './libs/slick-stylize';

@import './utils/def-slider';
@import './presets/container';
@import './utils/utils-collection';
@import './utils/text-utils';
@import './utils/icon-utils';
@import './utils/img-utils';
@import './utils/ratio-utils';

@import './sections/header';
@import './sections/footer';
@import './sections/publication';

.btn{
	display: inline-block;
	padding: 15px 30px;
	
	
	transition: all 0.2s;
	cursor: pointer;//add inactive ltr
	&:active{
		box-shadow: inset 0 0 4px #222;
		filter: brightness(0.8);

	}
	&--green{
		background-color: $green;
	}
	&--yellow{
		background-color: $yellow;
	}
	&--rounded{
		border-radius: 5px;
	}
	&--shadow{
		box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
	}
	&--SM{
		padding: 10px 15px;
	}
}
.searchbar {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid $yellow;
	border-radius: 1.2em;
	padding: 3px;
	input{
		background: transparent;
		width: calc(80% - 15px);
		// margin-right: 3%;
		border: none;
		height: 1.2em;
		&:focus{
			outline: 1px solid #0004;
		}
	}
	&__icon {
		// width: 10%;
		margin-right: 5px;
		font-size: 0.9em;
		display: flex;
		justify-content: center;
		align-items: center;
		&:after{
			margin-left: 0.3em;
			content: '';
			background-color: var(--color);
			height: 1em;
			width: 2px;
			border-radius: 4px;
		}
	}
}
.background{
	&--light-green{
		background-color: $light-green;
	}
	&--white{
		background-color: var(--backgroundColor);
	}
}
.def-slide { 
	&--3 {
		max-width: 400px;
		margin: auto;
	}
}
.card{
	&--border-under{
	    border: 3px solid #DBDBDB;
		border-top: 0;
	}
}
h1,
h2{
	@include fSizeRem($desktopWidth, $phoneWidth, $fontSizeXXL_desktop, $fontSizeXL_mobile);
	font-weight: 400;
	display: inline;
	text-transform: uppercase;
	
}
.underline{
	&--mar{
		padding-right: 0.2em;
		padding-left: 0.2em;
		border-bottom: 0.1em solid $mar;	
	}
	
}

.filters {
	&__category {
		transition: all 0.3s;
		cursor: pointer;
		&.active{
			color: $mar;
		}
	}
	&__tag {
		cursor: pointer;
		transition: all 0.3s;
		border: 1px solid var(--gray-text);
		border-radius: 10px;
		font-weight: 300;
		padding: 0.2em 0.3em;
		margin: 5px 3px;
		text-align: center;
		&.active{
			border: 1px solid #EEE;
			background-color: $mar;
			color: var(--white-text);
		}
		
	}
}
.video {
	// width: 100%;
	position: relative;
	line-height: 0;
	&>img{
		width: 100%;
		height: auto;
		border-radius: 5px;
	}
	cursor: pointer;
	&:hover{
		.video__play-button{
			transform: scale(1.1);
		}
	}
	&__play-button {
		line-height: 0;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		filter: drop-shadow(0 0 5px #333);
		transition: all 0.4s;
		img{

			width: 10%;
			height: auto;
		}
	}
}
.decor{
	position: absolute;
	left: var(--left);
	top: var(--top);
	width: var(--width);
	&--S{
		@include breakpoint-down($smTabletWidth){
			display: none;
		}
	}
	&__wrapper{
		position: relative;

	}
}
body {
    overflow-x: hidden !important;
}

.visual-options {
	&__font {
		&.active{
			background: #aaa;
		}
		cursor: pointer;
		transition: all 0.2s;
		width: 1.3em;
		text-align: center;
		border-radius: 5px;
		&:not(.active):hover{
			background: #ddd;
		}
		&--S {
			font-size: 16px;
		}
		&--M {
			font-size: 26px;
		}
		&--L {
			font-size: 32px;
		}
	}
	&__color {
		&.active{
			transform: scale(1.2);
			filter: drop-shadow(0 0 7px $white-text)
		}
		cursor: pointer;
		transition: all 0.2s;
		width: 1.3em;
		text-align: center;
		border-radius: 5px;
		font-size: 32px;
		border: 1px solid #000;
		&:not(.active):hover{
			transform: scale(1.1);
		}
		&--default {
			background: #FFF;
			color: #000;
		}
		&--dark {
			background: #000;
			color: #fff;
		}
		&--blue {
			background: rgb(157 209 255);
			color: rgb(6 52 98);
		}
		&--yellow {
			background: rgb(247 243 214);
			color: rgb(77 75 67);
		}
		&--green {
			background: rgb(59 39 22);
			color: rgb(169 228 77);
		}
	}
	&__image {
		font-size: 32px;
		&.active{
			filter: brightness(0.7);
		}
		background: rgb(169 228 77);
		color: #000;
		cursor: pointer;
		transition: all 0.2s;
		width: 1.3em;
		text-align: center;
		border-radius: 5px;
		&:not(.active):hover{
			filter: brightness(0.9);
		}
		&--visible {
			
		}
		&--contrast{
			background: rgb(100 228 150);
		}
		&--grayscale{
			background: #aaa;
		}
	}
}
html{
	--backgroundColor: #FFF;
	--highlightColor: #86BC9C;

	--yellow: #F0AD00;
	--green: #008138;
	--light-green: #86BC9C;
	--mar: #8BC5C6;

	--yellow-text: #F0AD00;
	--green-text: #008138;
	--light-green-text: #86BC9C;
	--mar-text: #8BC5C6;

	--white-text: #FFF;
	--black-text: #000;
}
.HTML-color{
	&--default{

	}
	&--dark {
		--backgroundColor: #000 !important;
		--highlightColor: #777 !important;
		--yellow: #777 !important;
		--green: #777 !important;
		--light-green: #777 !important;
		--mar: #777 !important;

		--yellow-text: #fff;
		--green-text: #fff;
		--light-green-text: #fff;
		--mar-text: #fff;

		--white-text: #FFF !important;
		--black-text: #FFF !important;
		.footer__bg{
			background-image: none !important;
			background: #222;
		}
	}
	&--blue {
		--backgroundColor: rgb(157 209 255) !important;
		--highlightColor: rgb(157 209 255) !important;
		--yellow: rgb(90 150 200) !important;
		--green: rgb(90 150 200) !important;
		--light-green: rgb(90 150 200) !important;
		--mar: rgb(90 150 200) !important;

		--yellow-text: rgb(6 52 98);
		--green-text: rgb(6 52 98);
		--light-green-text: rgb(6 52 98);
		--mar-text: rgb(6 52 98);

		--white-text: rgb(6 52 98) !important;
		--black-text: rgb(6 52 98) !important;

		.footer__bg{
			background-image: none !important;
			background: rgb(130 190 230) ;
		}
	}
	&--yellow {
		--backgroundColor: rgb(247 243 214) !important;
		--highlightColor: rgb(247 243 214) !important;

		--yellow: rgb(220 220 190) !important;
		--green: rgb(220 220 190) !important;
		--light-green: rgb(220 220 190) !important;
		--mar: rgb(220 220 190) !important;

		--yellow-text: rgb(77 75 67);
		--green-text: rgb(77 75 67);
		--light-green-text: rgb(77 75 67);
		--mar-text: rgb(77 75 67);

		--white-text: rgb(77 75 67) !important;
		--black-text: rgb(77 75 67) !important;

		.footer__bg{
			background-image: none !important;
			background: rgb(220 220 190);
		}
	}
	&--green {

		--backgroundColor: rgb(59 39 22) !important;
		--highlightColor: rgb(59 39 22) !important;

		--yellow: rgb(88 66 44) !important;
		--green: rgb(88 66 44) !important;
		--light-green: rgb(88 66 44) !important;
		--mar: rgb(88 66 44) !important;

		--yellow-text: rgb(169 228 77);
		--green-text: rgb(169 228 77);
		--light-green-text: rgb(169 228 77);
		--mar-text: rgb(169 228 77);

		--white-text: rgb(169 228 77) !important;
		--black-text: rgb(169 228 77) !important;

		.footer__bg{
			background-image: none !important;
			background: rgb(88 66 44);
		}
	}
}
.HTML-images{
	&--image{
	}
	&--contrast{
		img{
			filter: contrast(2);
		}
	}
	&--grayscale{
		img{
			filter: grayscale(1);
		}
	}
}