<%- include('inc/header.html') %>
<section class="m--y-25">
	<div class="container">
		<div class="fx fx-jc--c fx-wr--w">
			<div class="fx-el--50 p--15 sm-fx-el--100 text--center">
				<h2 class="underline--mar">Title</h2>
			</div>
			<div class="fx-el--50 p--15 sm-fx-el--70">
				<img src="../assets/images/stock1.jpg" alt="" class="img--w">
			</div>
		</div>
		
	</div>
</section>
<div class="container">
	<div class="def-text-wrapper">
		<h2><strong><mark>Very important title</mark></strong> <b>Lorem</b> ipsum</h2>
		<h3>
			<mark>Important Title</mark> 
			<b>Lorem</b> 
			<strong>ipsum</strong>
		</h3>
		<mark><a href="">marked link</a></mark>
		<b><a href="">highlighted link</a></b>
		<a href="">normal link</a>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis hic voluptatum, dolorem eius reiciendis pariatur dolores laborum? Recusandae assumenda pariatur ipsa blanditiis vitae et adipisci excepturi, aliquam qui, quis facilis.</p>
		<ul>
			<li><mark>Highlighted</mark></li>
			<li><b>Colored</b></li>
			<li>Normal</li>
		</ul>
		<ol>
			<li>asdasd</li>
		</ol>
	</div>
</div>

<section class="m--b-75">
	<div class="background--light-green">
		<div class="container">
			<div class="fx fx-jc--sa p--t-25 sm-p--t-15 xsm-p--t-5">
				<div class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						О нас
					</div>
				</div>
				<div class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						О нас
					</div>
				</div>
				<div class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						О нас
					</div>
				</div>
				<div class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						О нас
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<img class="img--w" src="../assets/images/wave-down.svg" alt="">
</section>
<section class="decor__wrapper">
	<div class="decor decor--S" style="--left:-30%; --top: 20%; --width: 50%;">
		<img src="../assets/images/flowers-decor.png" alt="" class="img--w">
	</div>
	<div class="decor decor--S" style="--left:-10%; --top: 20%; --width: 30%;">
		<img src="../assets/images/green-decor.png" alt="" class="img--w">
	</div>
	<div class="container">
		<div class="fx fx-jc--sb sm-fx-d--c">
			<div class="fx-el--50">
				<h2 class="underline--mar">
					О нас
				</h2>	
			</div>
			<div class="fx-el--50 text--400 text--S">
				<p class="m--b-15">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
				</p>
				
				<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
			</div>
		</div>
		
	</div>
</section>

<section class="m--y-50 decor__wrapper">
	<div class="decor decor--S" style="--left:0; --top: 20%; --width: 30%; opacity: 0.4;">
		<img src="../assets/images/green-decor2.png" alt="" class="img--w">
	</div>
	<div class="container">
		<div class="m--b-25">
			<h2 class="underline--mar">
				приоритеты
			</h2>
		</div>
		<div class="fx fx-jc--c fx-ai--c fx-wr--w">
			<div class="fx-el--50 md-fx-el--100 md-fx-od--1">
				<div class="fx fx-d--c m--t-25">
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fx-el--50 text--400 text--S md-fx-el--75 md-fx-od--0">
				<img src="../assets/images/checklist.svg" alt="" class="img--w">
			</div>
		</div>
		<div class="fx-el--100 fx fx-jc--c m--y-15">
			<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
		</div>
	</div>
</section>
<section class="m--y-25 ">
	
	<div class="container">
		<h2 class="underline--mar">проекты</h2>
		<div class="def-slider dots def-slider-3">
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
		</div>
		<div class="fx fx-jc--c">
			<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
		</div>
	</div>
</section>
<section class="m--y-25 decor__wrapper">
	<div class="decor decor--S" style="--left:-10%; --top: 20%; --width: 30%;">
		<img src="../assets/images/green-decor3.png" alt="" class="img--w">
	</div>
	<div class="decor decor--S" style="--left:40%; --top: 0%; --width: 30%;">
		<img src="../assets/images/green-decor3.png" alt="" class="img--w">
	</div>
	<div class="decor decor--S" style="--left:80%; --top: 80%; --width: 30%;">
		<img src="../assets/images/green-decor3.png" alt="" class="img--w">
	</div>
	<div class="container">
		
		<h2 class="underline--mar">новости</h2>
		<div class="def-slider dots def-slider-3">
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15 card-link__parent">
						<a href="" class="card-link__link"></a>
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="m--t-25 m--b-75">
	<div class="container">
		<h2 class="underline--mar">Партнеры</h2>
		<div class="fx fx-jc--sb m--t-25 fx-wr--w sm-fx-jc--c">
			<div class="fx-el--33 sm-fx-el--60">
				<img src="../assets/images/logo2.png" alt="" class="img--w partner_image">
			</div>
			<div class="fx-el--45 sm-fx-el--70 partners_list">
				<div class="text--S text--500 m--b-25">
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://eu.com">B o c k f o r d U niv e r sit y </div>
					<div class="partner_item" data-src="../assets/images/bird-logo.jpeg" data-link="https://google.com">D e L o u r eig h U niv e r sit y </div>
					<div class="partner_item" data-src="../assets/images/logo2.png" data-link="https://au.com">T r e s s w o o d U niv e r sit y </div>
					<div class="partner_item" data-src="../assets/images/stock1.jpg" data-link="https://bb.com">University of Glen Falls</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">University of Sunny Vale</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">University of Wolloughdale Belden </div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">College Croalstead</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">College Murray field</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">School of Marketing</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">School of Marketing</div>
					<div class="partner_item" data-src="../assets/images/bird-logo.jpeg" data-link="https://google.com">D e L o u r eig h U niv e r sit y </div>
					<div class="partner_item" data-src="../assets/images/logo2.png" data-link="https://google.com">T r e s s w o o d U niv e r sit y </div>
					<div class="partner_item" data-src="../assets/images/stock1.jpg" data-link="https://google.com">University of Glen Falls</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">University of Sunny Vale</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">University of Wolloughdale Belden </div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">College Croalstead</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">College Murray field</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">School of Marketing</div>
					<div class="partner_item" data-src="../assets/images/EU.png" data-link="https://google.com">School of Marketing</div>
				</div>
			</div>
		</div>
			<a href="" class="partner_link"></a>
	</div>
</section>
<section>
	<div class="container">
		<div class="def-slider gallery-slider dots">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
		</div>
	</div>
</section>

<section class="background--light-green contact-form">
	<div class="container">
		<div class="fx fx-jc--sb fx-wr--w p--y-25">
			<div class="text--M text--400 text--gray text--title-font fx-el--25 md-fx-od--1 md-fx-el--100">
				Если у вас есть вопросы, или вы хотите предложить сотрудничество напишите нам! Мы услышим каждого. <br> <br> Нажимая «Отправить», вы подтверждаете и согласны с «Согласие на обработку персональных данных».
			</div>
			<form class="fx-el--66 fx fx-wr--w fx-ai--c md-fx-od--0 md-fx-el--100">
				<div class="fx-el--50 p--15 xsm-fx-el--100">
					<div class="text--S text--500 text--gray m--b-15">
						Полное имя (Ф.И.О.)
					</div>
					<input type="text" name="Name">
				</div>
				<div class="fx-el--50 p--15 xsm-fx-el--100">
					<div class="text--S text--500 text--gray m--b-15">
						Электронная почта
					</div>
					<input type="text" name="email">
				</div>
				<div class="fx-el--50 p--15 xsm-fx-el--100">
					<div class="text--S text--500 text--gray m--b-15">
						Телефон
					</div>
					<input type="text" name="phone">
				</div>
				<div class="fx-el--100 p--15 xsm-fx-el--100">
					<div class="text--S text--500 text--gray m--b-15">
						Сообщение
					</div>
					<textarea name="message" id="" cols="30" rows="5"></textarea>
				</div>
				<div class="fx-el--100 fx md-fx-jc--c p--15">
					<input type="submit" class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white m--b-35">
				</div>
			</form>	
			
		</div>
		
		
	</div>
	
</section>
<%- include('inc/footer.html') %>
</body>

</html>
