<%- include('inc/header.html') %>
<section class="m--b-75">
	<div class="background--light-green">
		<div class="container">
			<div class="fx fx-jc--sa p--t-25 sm-p--t-15 xsm-p--t-5">
				<div class="fx-el--15 p-15 fx fx-d--c fx-jc--c fx-ai--c">
					<div class="">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="text--white text--600 text-full--XL-XS text--uppercase">
						о нас
					</div>
				</div>
				<div class="fx-el--15 p-15 fx fx-d--c fx-jc--c fx-ai--c">
					<div class="">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="text--white text--600 text-full--XL-XS text--uppercase">
						о нас
					</div>
				</div>
				<div class="fx-el--15 p-15 fx fx-d--c fx-jc--c fx-ai--c">
					<div class="">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="text--white text--600 text-full--XL-XS text--uppercase">
						о нас
					</div>
				</div>
				<div class="fx-el--15 p-15 fx fx-d--c fx-jc--c fx-ai--c">
					<div class="">
						<img class="img--w" src="../assets/images/face-icon.svg" alt="">
					</div>
					<div class="text--white text--600 text-full--XL-XS text--uppercase">
						о нас
					</div>
				</div>
			</div>
		</div>	
	</div>
	
	<img class="img--w" src="../assets/images/wave-down.svg" alt="">
</section>
<section>

	<div class="container">
		<div class="fx fx-jc--sb">
			<div class="fx-el--50">
				<h2>
					О нас
				</h2>	
			</div>
			<div class="fx-el--50">
				<h2>
					О нас
				</h2>	
			</div>
		</div>
		
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>