<%- include('inc/header3.html') %>
<section>
	<div class="container">
		<h2 class="underline--mar">
			Партнеры
		</h2>
		<div class="fx fx-jc--sa m--t-35 fx-wr--w">
			<div class="fx-el--33 p--15 md-fx-el--50 sm-fx-el--80">
				<div class="m--x-15 ratio--3x2 ibg ibg--contain">
					<img src="../assets/images/EU.png" alt="" class="">
				</div>
				<div class="fx-el--100 text--400 text--XS text--center">
					<p> Европейский Союз — это уникальный экономический и политический союз между 27 странами ЕС, которые вместе охватывают большую часть континента. Основными ценностями ЕС являются уважение к человеческому достоинству и правам человека, свобода, народовластие, равноправие и правовое государство. Вебсайт Представительства Европейского Союза в Кыргызской Республике: 
					<a href="https://www.eeas.europa.eu/" target="_blank" class="def-link">https://www.eeas.europa.eu/</a>
					</p>
				</div>
			</div>
			<div class="fx-el--33 p--15 md-fx-el--50 sm-fx-el--80">
				<div class="m--x-15 ratio--3x2 ibg ibg--contain">
					<img src="../assets/images/bird-logo.png" alt="" class="">
				</div>
				<div class="fx-el--100 text--400 text--XS text--center">
					<p> Европейский Союз — это уникальный экономический и политический союз между 27 странами ЕС, которые вместе охватывают большую часть континента. Основными ценностями ЕС являются уважение к человеческому достоинству и правам человека, свобода, народовластие, равноправие и правовое государство. Вебсайт Представительства Европейского Союза в Кыргызской Республике: 
					<a href="https://www.eeas.europa.eu/" target="_blank" class="def-link">https://www.eeas.europa.eu/</a>
					</p>
				</div>
			</div>
			<div class="fx-el--33 p--15 md-fx-el--50 sm-fx-el--80">
				<div class="m--x-15 ratio--3x2 ibg ibg--contain">
					<img src="../assets/images/logo.svg" alt="" class="">
				</div>
				<div class="fx-el--100 text--400 text--XS text--center">
					<p> Европейский Союз — это уникальный экономический и политический союз между 27 странами ЕС, которые вместе охватывают большую часть континента. Основными ценностями ЕС являются уважение к человеческому достоинству и правам человека, свобода, народовластие, равноправие и правовое государство. Вебсайт Представительства Европейского Союза в Кыргызской Республике: 
					<a href="https://www.eeas.europa.eu/" target="_blank" class="def-link">https://www.eeas.europa.eu/</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="fx fx-jc--sb sm-fx-d--c fx-wr--w">
			<div class="fx-el--50">
				<h2 class="underline--mar">
					О проекте
				</h2>	
			</div>
			<div class="fx-el--50 text--400 text--S">
				<p class="m--b-15">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
				</p>
			</div>
			<div class="fx-el--100 text--400 text--S">
				<p class="m--b-15">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
				</p>
				<p class="m--b-15">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
				</p>
				<p class="m--b-15">
					Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
				</p>
				
				<div class="fx fx-jc--c">
					<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<section class="m--y-25">
	<div class="container">
		<div class="m--b-25">
			<h2 class="underline--mar">
				Приоритетные направления
			</h2>
		</div>
		<div class="fx fx-jc--c fx-ai--c fx-wr--w fx-d--r-rev">
			<div class="fx-el--60 md-fx-el--100 md-fx-od--1 text--400 text--XS">
				<p>Укрепление потенциала гражданского общества, женских и молодежных организаций в борьбе с дискриминацией во всех ее формах и особенно насилием в отношении женщин, а также содействие политическому диалогу по вопросам гендерного равенства и прав женщин, и обеспечения активного участия и инклюзивного роста, принятия решений посредством расширения прав и возможностей женщин независимо от этнической принадлежности, религии или инвалидности..</p>
				<p>Расширение возможностей представителей средств массовой информации и способствование продвижению журналистских расследований и защите основных свобод, поощрению и защите свободы мнений и их выражения путем обеспечения прозрачности и подотчетности, а также укрепления навыков работы со средствами массовой информации и цифровыми технологиями и противодействия разжиганию ненависти в средствах массовой информации, а также привлечению молодежи к устойчивому развитию, ориентированному на построение справедливого и инклюзивного общества</p>
			</div>
			<div class="fx-el--40 text--400 text--S md-fx-el--75 md-fx-od--0">
				<img src="../assets/images/checklist3.svg" alt="" class="img--w">
			</div>
		</div>
		<div class="fx-el--100 fx fx-jc--c m--y-15">
			<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
		</div>
	</div>
</section>
<section class="m--y-25">
	<div class="container">
		<h2 class="underline--mar">Публикации</h2>
		<div class="def-slider dots def-slider-3">
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<img src="../assets/images/stock1.jpg" alt="" class="img--w m--b-15">
					<div class="text--600 text--XS text--center m--b-15">Program matching</div>
					<div class="text--XS text--center m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
				</div>
			</div>
		</div>
		<div class="fx fx-jc--c">
			<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
		</div>
	</div>
</section>
<section class="m--y-25">
	<div class="container">
		
		<h2 class="underline--mar">новости</h2>
		<div class="def-slider dots def-slider-3">
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="">
				<div class="def-slide--3 p--15">
					<div class="background--white p--15">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
						<div class="card--border-under p--x-15 p--t-15">
							<div class="text--title-font text--S text--500 text--uppercase m--b-15">ЖЕНСКОЕ ПРЕДПРИНИМАТЕЛЬСТВО И ПРОБЛЕМА ИЗМЕНЕНИЯ КЛИМАТА</div>
							<div class="text--XS text--500 m--b-15">Ноябрь 29, 2022 | Проект Datkayim</div>
							<div class="text--XS text--400 m--b-15">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="m--y-25">
	<div class="container">
		<div class="m--b-25">
			<h2 class="underline--mar">
				цЕЛЕВЫЕ ГРУППЫ ПРОЕКТА
			</h2>
		</div>
		<div class="fx fx-jc--c fx-ai--c fx-wr--w">
			<div class="fx-el--50 md-fx-el--100 md-fx-od--1">
				<div class="fx fx-d--c m--t-25">
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
					<div class="fx fx-ai--c fx-jc--c p--y-15 sm-fx-d--c">
						<div class="fx-el--50 text--center">
							<span class="text--600 text--XS">Program matching</span>
						</div>
						<div class="fx-el--50 text--center">
							<span class="text--XS">Как мы можем решить вопросы, связанные с глобальной проблемой изменения климата, начиная со школ? В этом заключается цель проекта «Datkayim».</span>
						</div>
					</div>
				</div>
			</div>
			<div class="fx-el--50 text--400 text--S md-fx-el--75 md-fx-od--0">
				<img src="../assets/images/checklist.svg" alt="" class="img--w">
			</div>
		</div>
		<div class="fx-el--100 fx fx-jc--c m--y-15">
			<div class="btn btn--yellow btn--shadow text--uppercase text--500 text--M text--white">Подробнее</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="def-slider gallery-slider dots">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
			<img src="../assets/images/stock1.jpg" alt="" class="img--w p--15">
		</div>
	</div>
</section>

<%- include('inc/footer2.html') %>
</body>

</html>