<%- include('inc/header.html') %>
<section class="m--b-45">
	<div class="background--light-green">
		<div class="container">
			<div class="text--white text--XL text--uppercase text--center text--600 ">
				публикации
			</div>
			<div class="fx fx-g--10 fx-wr--w fx-jc--sa p--t-25 sm-p--t-15 xsm-p--t-5">
				<a class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/book-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						публикации
					</div>
				</a>
				<a class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/presentation-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						презентации
					</div>
				</a>
				<a class="fx-el--25 p-15 fx fx-wr--w fx-jc--c fx-ai--c">
					<div class="fx-el--50 m--b-15">
						<img class="img--w" src="../assets/images/microphone-icon.svg" alt="">
					</div>
					<div class="fx-el--100 text--white text--600 text-full--M-XS text--uppercase text--center">
						выступления
					</div>
				</a>
			</div>
		</div>	
	</div>
	
	<img class="img--w" src="../assets/images/wave-down.svg" alt="">
</section>

<section class="m--y-25">
	<div class="container">
		<div class="text--center m--b-35">
			<h2 class="underline--mar">публикации</h2>
		</div>
		<div class="fx fx-jc--sb fx-wr--w">
			<div class="fx-el--25 sm-fx-el--100">
				<div class="filters">
					<div class="m--y-25">
						<div class="text--M text--uppercase m--b-15">
							<span class="underline--mar ">
								Категория
							</span>
						</div>
						<div class="filters__category text--M">
							Категория 1
						</div>
						<div class="filters__category text--M">
							Категория 2
						</div>
						
					</div>
					<div class="m--y-25">
						<div class="text--M text--uppercase m--b-15">
							<span class="underline--mar ">
								Категория
							</span>
						</div>
						<div class="fx fx-wr--w text--XS text--XS--static">
							<div class="filters__tag active">
								Все
							</div>
							<div class="filters__tag">
								СМИ
							</div>
							<div class="filters__tag">
								Дискриминация
							</div>
							<div class="filters__tag">
								Гендерные нарративы
							</div>
							<div class="filters__tag">
								Гендерное равенство
							</div>
							
							
						</div>
					</div>
					<div class="m--y-25">
						<div class="text--M text--uppercase m--b-15">
							<span class="underline--mar ">
								Поиск
							</span>
						</div>
						<div class="searchbar text--XS">
							<div class="searchbar__icon text--yellow">
								<i class="fa-solid fa-magnifying-glass"></i>
							</div>
							<input type="text">
						</div>
					</div>
				</div>
			</div>
			<div class="fx-el--75 sm-fx-el--100 p--l-15 sm-p--0">
				<div class="fx fx-wr--w p--y-25 sm-fx-jc--c">
					<div class="fx-el--100 text--400 text--title-font text--S m--b-15">
						“Извлеченные уроки поддержки местных комитетов по охране и защие от семейного  и гендерного насилия в Иссык-кульской, Нарынской, Чуйской областях”
					</div>
					<div class="fx-el--25 sm-fx-el--50">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					</div>
					<div class="fx-g--1 p--l-15 fx-el--75 text--300 text--title-font text--gray text--XS m--b-15 sm-fx-el--100">
						Проект направлен на поддержку государственных органов, организаций гражданского общества, образовательных организаций, СМИ по продвижению гендерного равенства и предотвращения гендерной дискриминации, распространению позитивных гендерных нарративов на всех уровнях общества.
					</div>
					<div class="fx-el-100">
						<a class="btn btn--SM btn--yellow btn--shadow text--uppercase text--500 text--XS text--white">Открыть в новом окне</a>
					</div>
				</div>
				<div class="fx fx-wr--w p--y-25 sm-fx-jc--c">
					<div class="fx-el--100 text--400 text--title-font text--S m--b-15">
						“Извлеченные уроки поддержки местных комитетов по охране и защие от семейного  и гендерного насилия в Иссык-кульской, Нарынской, Чуйской областях”
					</div>
					<div class="fx-el--25 sm-fx-el--50">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					</div>
					<div class="fx-g--1 p--l-15 fx-el--75 text--300 text--title-font text--gray text--XS m--b-15 sm-fx-el--100">
						Проект направлен на поддержку государственных органов, организаций гражданского общества, образовательных организаций, СМИ по продвижению гендерного равенства и предотвращения гендерной дискриминации, распространению позитивных гендерных нарративов на всех уровнях общества.
					</div>
					<div class="fx-el-100">
						<a class="btn btn--SM btn--yellow btn--shadow text--uppercase text--500 text--XS text--white">Открыть в новом окне</a>
					</div>
				</div>
				<div class="fx fx-wr--w p--y-25 sm-fx-jc--c">
					<div class="fx-el--100 text--400 text--title-font text--S m--b-15">
						“Извлеченные уроки поддержки местных комитетов по охране и защие от семейного  и гендерного насилия в Иссык-кульской, Нарынской, Чуйской областях”
					</div>
					<div class="fx-el--25 sm-fx-el--50">
						<img src="../assets/images/stock1.jpg" alt="" class="img--w">
					</div>
					<div class="fx-g--1 p--l-15 fx-el--75 text--300 text--title-font text--gray text--XS m--b-15 sm-fx-el--100">
						Проект направлен на поддержку государственных органов, организаций гражданского общества, образовательных организаций, СМИ по продвижению гендерного равенства и предотвращения гендерной дискриминации, распространению позитивных гендерных нарративов на всех уровнях общества.
					</div>
					<div class="fx-el-100">
						<a class="btn btn--SM btn--yellow btn--shadow text--uppercase text--500 text--XS text--white">Открыть в новом окне</a>
					</div>
				</div>
			</div>
			<div class="fx-el--100 fx fx-jc--c text--title-font text--M">
				<a href="#" class="m--x-15">Назад</a>
				<a href="#" class="m--x-15">1</a>
				<a href="#" class="m--x-15">2</a>
				<a href="#" class="m--x-15">3</a>
				<a href="#" class="m--x-15">Вперед</a>
			</div>
			<nav class="fx-el--100 fx fx-jc--c text--800 text--XL post-navigation">
				<span class="m--x-15 fx-g--1 fx fx-el--100 fx-jc--sa">
					<div class="nav-previous">
						<a href="https://ast.dev.marmadot.com/news/oo-agentstvo-soczialnyh-tehnologij-provedeny-2-bazovyh-issledovaniya/" rel="prev">
							<span class="nav-subtitle fx fx-ai--c"><i class="fa fa-arrow-left" aria-hidden="true"></i> <span class="text--L text--400">Предыдущая</span></span>
						</a>
					</div>
					<div class="nav-next">
						<a href="https://ast.dev.marmadot.com/news/uchastie-na-4-forume-grazhdanskogo-obshhestva-evropejskij-soyuz-czentralnaya-aziya-v-tashkente/" rel="next">
							<span class="nav-subtitle fx fx-ai--c"><span class="text--L text--400">Следующая</span> <i class="fa fa-arrow-right" aria-hidden="true"></i></span>
						</a>
					</div>
				</span>
			</nav>
		</div>

	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>