<%- include('inc/header2.html') %>
<section class="m--y-25">
	<div class="container">
		<div class="text--center m--b-75 m--t-35">
			<h2 class="underline--mar">Проекты</h2>
		</div>
		<div class="fx fx-wr--w m--b-15">
			<div class="filters__tag active">
				Все
			</div>
			<div class="filters__tag">
				СМИ
			</div>
			<div class="filters__tag">
				Дискриминация
			</div>
			<div class="filters__tag">
				Гендерные нарративы
			</div>
			<div class="filters__tag">
				Гендерное равенство
			</div>
		</div>
		<div class="def-slider dots def-slider-3 m--b-25">
			<a class="">
				<div class="def-slide--3 p--15">
					<div class="ibg ibg--contain ratio--4x1">
						<img src="../assets/images/logo1.png" alt="">
					</div>
					
					<div class="text--title-font text--S text--500 text--uppercase m--b-15">АЖЗИ - АЛЬЯНС ЖЕНСКИХ ЗАКОНАДАТЕЛЬНЫХ ИНИЦИАТИВ</div>
					<div class="text--XS m--b-15">Усиление политического голоса и влияния женщин через лоббирование гендерно ориентированных законотворческих инициатив и мониторинг реализации гендерной политики»</div>
				</div>
			</a>
			<a class="">
				<div class="def-slide--3 p--15">
					<div class="ibg ibg--contain ratio--4x1 m--b-15">
						<img src="../assets/images/logo2.png" alt="">
					</div>
					
					<div class="text--title-font text--S text--500 text--uppercase m--b-15">АЖЗИ - АЛЬЯНС ЖЕНСКИХ ЗАКОНАДАТЕЛЬНЫХ ИНИЦИАТИВ</div>
					<div class="text--XS m--b-15">Усиление политического голоса и влияния женщин через лоббирование гендерно ориентированных законотворческих инициатив и мониторинг реализации гендерной политики»</div>
				</div>
			</a>
			<a class="">
				<div class="def-slide--3 p--15">
					<div class="ibg ibg--contain ratio--4x1 m--b-15">
						<img src="../assets/images/logo1.png" alt="">
					</div>
					
					<div class="text--title-font text--S text--500 text--uppercase m--b-15">АЖЗИ - АЛЬЯНС ЖЕНСКИХ ЗАКОНАДАТЕЛЬНЫХ ИНИЦИАТИВ</div>
					<div class="text--XS m--b-15">Усиление политического голоса и влияния женщин через лоббирование гендерно ориентированных законотворческих инициатив и мониторинг реализации гендерной политики»</div>
				</div>
			</a>
		</div>
	</div>
</section>

<%- include('inc/footer.html') %>
</body>

</html>