<%- include('inc/header.html') %>

<section>
	<div class="container">
		<div class="fx m--b-25 fx-wr--w">
			<div class="fx-el--33 sm-fx-el--100">
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--300 text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--300 text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--300 text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--300 text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
				<div class="underline--mar text--title-font text--S text--upperscale text--400">
					ПРОЕКТ
				</div>
				<div class="text--gray text--300 text--title-font text--XS m--b-25">
					«ДаткАйым — Продвигаем гендерное равенство по-новому»
				</div>
			</div>
			<div class="fx-el--66 p--l-25 sm-fx-el--100">
				<div class="text--title-font text--400 text--upperscale text--M m--b-15">
					ОПИСАНИЕ ПРОЕКТА
				</div>
				<div class="text--gray text--300 text--title-font m--b-25">
					Проект направлен на поддержку государственных органов, организаций гражданского общества, образовательных организаций, СМИ по продвижению гендерного равенства и предотвращения гендерной дискриминации, распространению позитивных гендерных нарративов на всех уровнях общества.
				</div>
				<div class="text--title-font text--400 text--upperscale text--M m--b-15">
					ОСНОВНАЯ ЦЕЛЬ
				</div>
				<div class="text--gray text--300 text--title-font m--b-25">
					Поддержка трансформации глубоко укоренившихся патриархальных поведенческих установок в обществе путем устранения пропаганды гендерной и социальной дискриминации в сфере образования, средствах массовой информации и применения эффективного и продуктивного реагирования на гендерную дискриминацию в соответствии с ЦУР 5.
				</div>
				<div class="text--title-font text--400 text--upperscale text--M m--b-15">
					Основные направления деятельности проекта:
				</div>
				<div class="text--gray text--300 text--title-font m--b-25">
					<ol>
						<li>
							Содействовать институционализации обязательной антидискриминационной и гендерной экспертизы стандартов и учебных материалов, а также повышению гендерной компетентности работников сферы образования в КР для обеспечения реализации целей Национального плана действий по обеспечению гендерного равенства на 2018–2020 годы и Стратегии Развития Образования до 2020 года.
						</li>
						<li>
							Содействие разработке и внедрению стандартов гендерно-чувствительной журналистики в Кыргызстане для поддержки реализации задачи 31.3 Национального плана действий по достижению гендерного равенства на 2018-2020 годы.
						</li>
						<li>
							Улучшение скоординированного межведомственного взаимодействия по предупреждению и отклику на гендерную дискриминацию и насилие на национальном и местном уровнях через повышение потенциала ответственных по гендерным вопросам министерств, ведомств, ОМСУ.
						</li>
					</ol>
				</div>
				<a class="btn btn--yellow btn--shadow text--uppercase text--500 text--XS text--white">ПОДРОБНЕЕ О проекте</a>

			</div>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>