<%- include('inc/header.html') %>
<section>
	<div class="container">
		<div class="text--title-font text--S text--500 text--uppercase m--b-35 m--t-35">“Извлеченные уроки поддержки местных комитетов по охране и защие от семейного  и гендерного насилия в Иссык-кульской, Нарынской, Чуйской областях”</div>
		<div class="">
			<img src="../assets/images/publication.png" alt="" class="img--w">
		</div>
		<div class="text--S m--b-25">
			Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Свое заголовок вопрос имени текстами всемогущая бросил большого оксмокс даль ты. Решила вопроса раз повстречался сбить речью, безопасную свой, текстами, взобравшись он свое однажды возвращайся, имеет. Ты оксмокс жаренные которое живет всемогущая путь ее власти текстами жизни по всей, буквоград продолжил встретил гор строчка, это взгляд вдали вершину мир семь снова lorem залетают своего себя использовало города. 
		</div>
		<div class="fx fx-jc--c">
			<a class="btn btn--yellow btn--shadow text--uppercase text--500 text--XS text--white m--b-35">ПОДРОБНЕЕ О проекте</a>
		</div>
	</div>
</section>
<%- include('inc/footer.html') %>
</body>

</html>