body{
	font-family: $defFont;
	color: $defFontColor;
	font-size: $defFontSize;
	font-weight: $defFontWeight;
	line-height: $defLineHeight;

	background-color: $backgroundColor;
}
a{
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	&.def-link{
		color: #0000EE;
		&:visited { color: #551A8B; }
		text-decoration: underline;
	}
}