/* Vars:
  ========================================================================== */

// Fonts
$textFont                : Montserrat, sans-serif;
$titleFont               : Oswald, sans-serif;


// Screen sizes
$desktopWidth            : 1440px;
$smDesktopWidth          : 1200px;
$tabletWidth             : 992px;
$smTabletWidth           : 768px;
$phoneWidth              : 576px;
$smPhoneWidth            : 375px;


//Font sizes

$fontSizeXXL_desktop     : 4rem;
$fontSizeXXL_mobile      : 3.375rem;

$fontSizeXL_desktop      : 3rem;
$fontSizeXL_mobile       : 2rem;

$fontSizeL_desktop       : 2.25rem;
$fontSizeL_mobile        : 1.625rem;

$fontSizeM_desktop       : 1.875rem;
$fontSizeM_mobile        : 1.375rem;

$fontSizeS_desktop       : 1.375rem;
$fontSizeS_mobile        : 1.125rem;

$fontSizeXS_desktop      : 1rem;
$fontSizeXS_mobile       : 0.75rem;


// Main color
$backgroundColor         : var(--backgroundColor); //#FFF
$highlightColor          : var(--highlightColor); //#86BC9C;
$yellow                  : var(--yellow); //#F0AD00;
$green                   : var(--green); //#008138;
$light-green             : var(--light-green); //#86BC9C;
$mar                     : var(--mar); //#8BC5C6;
$yellow-text             : var(--yellow-text, $yellow); //#F0AD00;
$green-text              : var(--green-text, $green); //#008138;
$light-green-text        : var(--light-green-text, $light-green); //#86BC9C;
$mar-text                : var(--mar-text, $mar); //#8BC5C6;
$white-text              : var(--white-text); //#FFF
$black-text              : var(--black-text); //#000
$gray-text               : var(--gray-text); //#545454
// Def values
$defFont                 : $textFont;
$defFontColor            : $black-text;
$defFontSize             : 16px;
$defFontWeight           : 400;
$defLineHeight           : 1.4;


